<div class="container p-5 mx-auto">
    <div class="card border-0 shadow-sm mx-5">
        <div class="card-body ui form">
            <div class="row mx-5">
                <div class="col-md-12 py-2 text-center">
                    <img src="../../assets/user.png" class="rounded-circle shadow-sm" alt="">
                </div>
                <div class="col-md-12 py-2 text-center">
                    <button class="ui button">Change profile picture</button>
                </div>
                <div class="col-md-12 py-2">
                    <div class="field input">
                        <label>Name</label>
                        <input type="text" class="font-weight-bold" name="name" placeholder="Name" value="Fatma cherni">
                    </div>
                </div>
                <div class="col-md-12 py-2">
                    <div class="field input">
                        <label>Date of birth</label>
                        <input type="date" name="dateOfBirth" id="dateOfBirth" class="font-weight-bold" value="1998-03-25">
                    </div>
                </div>
                <div class="col-md-12 py-2">
                    <div class="field input">
                        <label>Role</label>
                        <select class="input" name="role" id="role">
                            <option value="Student">Student</option>
                            <option value="Professor">Professor</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 py-2">
                    <div class="field input">
                        <label>Class</label>
                        <input type="text" name="class" placeholder="Class">
                    </div>
                </div>
                <div class="col-md-12 py-2">
                    <div class="field input">
                        <label>Groups</label>
                        <span class="badge badge-pill shadow p-3 m-3">
                            Java<a class="ml-5"><i class="close icon"></i></a>
                        </span>
                        <span class="badge badge-pill shadow p-3 m-3">
                            UML<a class="ml-5"><i class="close icon"></i></a>
                        </span>
                        <span class="badge badge-pill shadow p-3 m-3">
                            ANDROID<a class="ml-5"><i class="close icon"></i></a>
                        </span>
                        <span class="badge badge-pill shadow p-3 m-3">
                            Node.js<a class="ml-5"><i class="close icon"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 py-2 mb-4">
                    <div class="field input">
                        <label>About</label>
                        <textarea placeholder="Describe yourself..."></textarea>
                    </div>
                </div>
                <div class="col-md-12 py-2">
                    <button class="w-100 btn_update shadow-sm">Update profile</button>
                </div>
                <div class="col-md-12 py-2 text-center">
                    <button class="cancel_btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>