.login{
    margin: 0;
    padding: 0;
    background-color: #fffeff;
    overflow: hidden;
}
.login img{
    filter: blur(1px);
    -webkit-filter: blur(1px);  
}
.login_box{
    box-shadow: 5px 0 15px -5px rgb(0, 0, 0,.25), -5px 0 15px -5px rgb(0, 0, 0,.25);
    color: #9d9da0;
}
.form{
    margin-top: 100px;
}
.login_box input[type=text],.login_box input[type=password]{
    border: none;
    transition: all 0.1s ease-in;
}
.login_box input[type=text]:focus,.login_box input[type=password]:focus{
    border-left: 5px solid #f4638d;
    transition: all 0.1s ease-out;
}
a:hover{
    text-decoration: none;
}