<div class="d-flex flex-row w-100 message my-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> <img src="//placehold.it/50x50" alt="Avatar" class="avatar my-auto"> Yassine ouri</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet facilis neque hic velit incidunt sunt itaque quaerat omnis delectus sapiente. Hic libero eos est nisi itaque voluptates, tenetur explicabo ex? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum id quas explicabo reiciendis perferendis inventore recusandae, sint veniam aut provident numquam mollitia possimus impedit nulla unde cupiditate deleniti dignissimos nihil.</p>
        </div>
    </div>
</div>