<div class="d-flex flex-row">
    <img src="//placehold.it/150x150" alt="Avatar" class="avatar">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Yassine ouri</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id aliquid corporis cumque laudantium incidunt voluptatum natus tempore. Reiciendis voluptatem fugit maiores delectus expedita quaerat, nihil nam placeat, corrupti consequatur totam.Dolores illo eum quae recusandae dignissimos in cupiditate, est vel error, velit quis reprehenderit, quidem odit vitae fugiat. Eius ad aliquid quia aspernatur nihil iste alias modi suscipit ab fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident inventore animi error nihil laborum ullam unde necessitatibus nisi sequi atque quo, itaque qui labore ex aspernatur consequatur fuga adipisci numquam?</p>
        </div>
    </div>
</div>