<div class="container-fluid signup">
    <div class="row">
        <div class="col-md-12 col-xl-6 col-lg-6 col-sm-12  px-0 signup_box">
            <div class="container p-3 mb-5">
                <div class="row text-right p-3">
                    <div class="col-md-12">
                        <button class="btn btn-transparent ">
                            <i class="close big icon"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Sign up</h1>
                        <h5 class="text-center text-muted">Create a free account and get started</h5>
                        <div class="col-md-6 mx-auto">
                            <form class="ui big form" #signUpForm="ngForm" (ngSubmit)="signUpUser(signUpForm)">
                                <div class="field">
                                    <label>First name</label>
                                    <input type="text" class="shadow p-3" [(ngModel)]="signUpForm.firstname" name="firstname"
                                        placeholder="Foulen">
                                </div>
                                <div class="field">
                                    <label>Last name</label>
                                    <input type="text" class="shadow p-3" [(ngModel)]="signUpForm.lastname" name="lastname"
                                        placeholder="Ben foulen">
                                </div>
                                <div class="field">
                                    <label>CIN</label>
                                    <div class="ui icon input">
                                        <input type="text" class="shadow p-3" pattern="\d{8}" id="cin" name="cin" [(ngModel)]="signUpForm.cin"  placeholder="CIN">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>E-mail</label>
                                    <input type="email" class="shadow p-3" id="email" name="email"
                                        [(ngModel)]="signUpForm.email"
                                        placeholder="email@address.com">
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <div class="ui icon input">
                                        <input type="password" class="shadow p-3" id="password" name="password" [(ngModel)]="signUpForm.password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>ٌRetype password</label>
                                    <div class="ui icon input">
                                        <input type="password" class="shadow p-3" name="password" placeholder="Confirm your password">
                                    </div>
                                </div>
                                <div class="field d-flex-inline">
                                    <p><input type="checkbox" class="mr-2" name="terms_checkbox" id="terms_checkbox">I have accepted the <a href="#">Terms & Conditions.</a></p>
                                </div>
                                <div class="field text-center">
                                    <button type="submit" class="ui secondary w-75 huge icon button shadow-sm" >
                                        Sign up now
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6 col-sm-12 px-0">
            <img src="../../assets/signup_image.png" class="w-100 h-100" alt="">
        </div>
    </div>
</div>