<!-- As a heading -->
<nav class="navbar navbar-light bg-light shadow-sm py-5">
    <span class="navbar-brand mb-0">
        <h2 class="font-weight-bold pl-4">Administration</h2>
    </span>
</nav>

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-body">
                  <h3 class="font-weight-bold">Yesterday</h3>
                  <app-admin-post text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores soluta iste, eveniet aliquam hic porro commodi deserunt necessitatibus dicta placeat quae esse adipisci tenetur sed veniam reprehenderit accusantium numquam obcaecati?"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <h3 class="font-weight-bold">Today</h3>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                  <app-admin-post text="aeraeaeaeaeaea"></app-admin-post>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body mx-auto">
                  <img src="//placehold.it/550x550" class="w-100">
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body mx-auto">
                  <img src="//placehold.it/550x550" class="w-100">
                </div>
              </div>
        </div>
    </div>
</div>