<nav class="navbar navbar-light bg-light p-5 shadow-sm">
    <h3 class="font-weight-bold">Reported posts</h3>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                          <tr class="border-bottom">
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Uploaded by</th>
                            <th scope="col">Group</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img src="//placehold.it/30x30" class="rounded" alt="">
                            </td>
                            <td><b>Exercice2.pdf</b></td>
                            <td>159 KB</td>
                            <td>
                              <img src="../../assets/user.png" class="mr-2 user_img rounded-circle" alt="">
                              <label>Yassine Ouri</label>
                            </td>
                            <td>
                              <span class="badge badge-pill badge-primary p-2">Java</span></td>
                            <td>08 Dec 2020</td>
                            <td>
                              <div class="dropdown">
                                <button class="ui button" style="border-radius: 20px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Actions <i class="angle down icon ml-2"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action 1</a>
                                  <a class="dropdown-item" href="#">Action 2</a>
                                </div>
                              </div></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>